<template>
    <div>
        <v-toolbar light>
            <v-toolbar-title>
                Manage Items
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn color="primary" to="/main/admin/items/create">Create Item
            </v-btn>
        </v-toolbar>
        <div>
            <input type="text" @change="search_items">
        </div>
        <v-data-table :headers="headers" :items="items">
            <template slot="items" slot-scope="props">
                <tr @click="update_tree(props.item.id)">
                    <td>{{ props.item.title }}</td>
                    <td>{{ props.item.description }}</td>
                    <td>
                        <v-icon v-if="props.item.approved">checkmark</v-icon>
                    </td>
                    <td>{{ props.item.category_id }}</td>
                    <td>{{ props.item.parent_id }}</td>
                    <td class="justify-center layout px-0">
                        <v-tooltip top>
                            <span>Edit</span>
                            <v-btn :to="{name: 'main-admin-items-edit', params: {id: props.item.id}}"
                                   flat
                                   slot="activator">
                                <v-icon>edit</v-icon>
                            </v-btn>
                        </v-tooltip>
                    </td>
                </tr>
            </template>
        </v-data-table>
        <tree-view :data="tree_items"
                   :options="{modifiable: true}"></tree-view>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {Store} from 'vuex';
    import {IItemProfile, IItemProfileUpdate} from '@/interfaces';
    import {
        readAdminFilteredItems,
        readAdminItems,
        readAdminTreeItems
    } from '@/store/admin/getters';
    import {
        dispatchGetItems,
        dispatchGetTreeItems, dispatchUpdateItem
    } from '@/store/admin/actions';
    import TreeView from "vue-json-tree-view"
    import { commitSetFilteredItems } from "@/store/admin/mutations";

    Vue.use(TreeView)

    @Component
    export default class AdminItems extends Vue {
        public headers = [
            {
                text: 'Title',
                sortable: true,
                value: 'title',
                align: 'left',
            },
            {
                text: 'Description',
                sortable: true,
                value: 'description',
                align: 'left',
            },
            {
                text: 'Approved',
                sortable: true,
                value: 'approved',
                align: 'left',
            },
            {
                text: 'Category',
                sortable: true,
                value: 'category_id',
                align: 'left',
            },
            {
                text: 'Parent',
                sortable: true,
                value: 'parent_id',
                align: 'left',
            },
            {
                text: 'Actions',
                value: 'id',
                align: 'center',
            },
        ];

        get items() {
            return readAdminFilteredItems(this.$store);
        }

        get items_orig() {
            return readAdminItems(this.$store);
        }

        get tree_items() {
            return readAdminTreeItems(this.$store);
        }

        public async mounted() {
            await dispatchGetItems(this.$store);
        }

        public async update_tree(itemId) {
            await dispatchGetTreeItems(this.$store, itemId);
        }

        public async search_items(event) {
            let search_string = event.target.value
            let res = this.items_orig.filter(function (item, index, arr) {
                return item.title.includes(search_string)
            })
            commitSetFilteredItems(this.$store, res)
        }

    }
</script>
