<template>
  <v-container fluid>
    <v-card class="ma-3 pa-3">
      <v-card-title primary-title>
        <div class="headline primary--text">Create Item</div>
      </v-card-title>
      <v-card-text>
        <template>
          <v-form v-model="valid" ref="form" lazy-validation>
            <v-text-field label="Title" v-model="title" required :error-messages="errors.collect('title')"></v-text-field>
            <v-text-field label="Description" type="email" v-model="description" data-vv-name="description"  required></v-text-field>
          </v-form>
        </template>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @click="cancel">Cancel</v-btn>
        <v-btn @click="reset">Reset</v-btn>
        <v-btn @click="submit" :disabled="!valid">
              Save
            </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { IItemProfileCreate } from '@/interfaces';
import { dispatchGetItems, dispatchCreateItem } from '@/store/admin/actions';

@Component
export default class CreateItem extends Vue {
  public valid = false;
  public title: string = '';
  public description: string = '';

  public async mounted() {
    await dispatchGetItems(this.$store);
    this.reset();
  }

  public reset() {
    this.title = '';
    this.description = '';
    this.$validator.reset();
  }

  public cancel() {
    this.$router.back();
  }

  public async submit() {
    if (await this.$validator.validateAll()) {
      const updatedProfile: IItemProfileCreate = {
        title: this.title,
      };
      if (this.description) {
        updatedProfile.description = this.description;
      }
      await dispatchCreateItem(this.$store, updatedProfile);
      this.$router.push('/main/admin/items');
    }
  }
}
</script>
