<template>
  <v-container fluid>
    <v-card class="ma-3 pa-3">
      <v-card-title primary-title>
        <div class="headline primary--text">Edit Item</div>
      </v-card-title>
      <v-card-text>
        <template>
          <div class="my-3">
            <div class="subheading secondary--text text--lighten-2">Title</div>
            <div
              class="title primary--text text--darken-2"
              v-if="item"
            >{{item.title}}</div>
            <div
              class="title primary--text text--darken-2"
              v-else
            >-----</div>
          </div>
          <v-form
            v-model="valid"
            ref="form"
            lazy-validation
          >
            <v-text-field
              label="Title"
              v-model="title"
              v-validate="required"
              :error-messages="errors.collect('title')"
              required
            ></v-text-field>
            <v-text-field
              label="Description"
              type="description"
              v-model="description"
              data-vv-name="description"
              required
            ></v-text-field>
          </v-form>
        </template>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @click="cancel">Cancel</v-btn>
        <v-btn @click="reset">Reset</v-btn>
        <v-btn
          @click="submit"
          :disabled="!valid"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { IItemProfileUpdate } from '@/interfaces';
import { dispatchGetItems, dispatchUpdateItem } from '@/store/admin/actions';
import { readAdminOneItem } from '@/store/admin/getters';

@Component
export default class EditItem extends Vue {
  public valid = true;
  public title: string = '';
  public description: string = '';

  public async mounted() {
    await dispatchGetItems(this.$store);
    this.reset();
  }

  public reset() {
    this.$validator.reset();
    if (this.item) {
      this.title = this.item.title;
      this.description = String(this.item.description);
    }
  }

  public cancel() {
    this.$router.back();
  }

  public async submit() {
    if (await this.$validator.validateAll()) {
      const updatedProfile: IItemProfileUpdate = {};
      if (this.title) {
        updatedProfile.title = this.title;
      }
      if (this.description) {
        updatedProfile.description = this.description;
      }
      await dispatchUpdateItem(this.$store, { id: this.item!.id, item: updatedProfile });
      this.$router.push('/main/admin/items');
    }
  }

  get item() {
    return readAdminOneItem(this.$store)(+this.$router.currentRoute.params.id);
  }
}
</script>
